<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include("headsection.ejs") %>
  </head>

  <body>
    <%- include("header.ejs") %>
    <section class="fs_inner">
      <div class="pc">
        <div
          style="
            width: 100%;
            height: 100%;
            background: url(/assets/aboutus.jpg) no-repeat center center;
            background-size: cover;
          "
        ></div>
      </div>
      <div class="fd"></div>
      <div class="tx">About Us</div>
    </section>
    <section class="innercont pg_philosophy">
      <div class="ct">
        <div class="nav">
          <div class="select-wrapper">
            <select
              class="navdd"
              onchange="if (!window.__cfRLUnblockHandlers) return false; window.location.replace(this.options[this.selectedIndex].value)"
              data-cf-modified-06b43f84d6f07fea28a654a3-=""
            >
              <option selected="selected" value="About Us.html"
                >About Us</option
              >
              <option value="Mission.html">Our Mission</option>
              <option value="Vision.html">Our Vission</option>
              <option value="Insignia.html">Insignia</option>
              <option value="Message.html">Message</option>
            </select>
          </div>
          <div class="lks">
            <a class="active nobg" href="About Us.html">About Us</a>
            <a href="Mission.html">Our Mission</a>
            <a href="Vision.html">Our Vision</a>
            <a href="Insignia.html">Insignia</a>
            <a href="Message.html">Message</a>
          </div>
        </div>
        <div class="ttl_cap">About Us</div>
        <div class="bdtext ctsmall">
          <p>
            Founded in year 1993, SURYA Group is the leading, socially
            responsible real estate Group providing prime commercial and
            residential offerings .Balancing between business and responsibility
            and ensuring a sustainable social and natural environment the group
            is one of the most trusted and preferred choice for real estate in
            India. Headquartered in Patna City of Bihar and having their
            corporate office at Vaishali, Ghaziabad, SURYA Group, is diversified
            in different verticals. Being the most reputed & trusted Real Estate
            brand, the group has successfully transformed the real estate
            business with its high quality approach and uncompromising
            professionalism in all its business activities.
          </p>
          <p>
            The group has created a niche in the real estate industry as an
            experienced and most preferred real estate group by completing many
            residential & commercial projects of high value in Delhi/NCR & Patna
            with the highest customer satisfaction index. The groups consist of
            smart, dynamic professionals having rich experience in real estate
            industry. We value our customers and therefore for us Customers
            always comes first.
          </p>
        </div>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script
      src="/js/rocket-loader.js"
      data-cf-settings="06b43f84d6f07fea28a654a3-|49"
      defer=""
    ></script>
  </body>
</html>
