<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include("headsection.ejs") %>
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="fs_inner">
      <div class="pc">
        <div
          style="
            width: 100%;
            height: 100%;
            background: url(assets/awards.jpg) no-repeat center center;
            background-size: cover;
          "
        ></div>
      </div>
      <div class="fd"></div>
      <div class="tx">Passion at Work</div>
    </section>
    <section class="innercont pg_philosophy">
      <div class="ct">
        <div class="nav">
          <div class="select-wrapper">
            <select
              class="navdd"
              onchange="if (!window.__cfRLUnblockHandlers) return false; window.location.replace(this.options[this.selectedIndex].value) "
              data-cf-modified-a9285b2494881c5c85ef6098-=" "
            >
              <option value="crystal.html " selected>Surya Crystal</option>
              <option value="signature.html ">Surya Signature</option>
              <option value="buisness.html ">Surya Buisness Center</option>
              >
            </select>
          </div>
          <div class="lks">
            <a class="active" class="nobg" href="crystal.html "
              >Surya Crystal</a
            >
            <a href="signature.html ">Surya Signature</a>
            <a href="buisness.html ">Surya Buisness Center</a>
          </div>
        </div>
        <div class="ttl_cap">Surya Crystal</div>
        <div class="bdtext ctsmall">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
            perferendis eligendi quae voluptatibus cupiditate et. Vero maxime
            atque dolore, aspernatur sapiente ullam consequatur tempora amet,
            molestiae temporibus, illo animi? Id, suscipit libero quae
            praesentium deleniti vel hic perspiciatis possimus assumenda quia?
            Mollitia et porro quia dolorum expedita commodi libero sunt omnis
            laudantium quisquam distinctio maxime nihil ad at explicabo
            inventore dolor architecto, illo quis voluptatibus cupiditate ut.
            Quaerat labore accusantium facere cupiditate nam eius saepe! Placeat
            sequi odit eos non praesentium voluptatum ipsam, commodi nobis iusto
            beatae laboriosam. Eum officia vero alias voluptatem repellendus aut
            similique sunt nesciunt ex mollitia dicta, corporis adipisci dolorum
            et amet quisquam eligendi saepe harum libero sed quod reiciendis
            ipsam quia perferendis? Reprehenderit eligendi ipsum in mollitia,
            quidem laudantium laborum iure incidunt nostrum ea praesentium,
            distinctio sequi hic ad. Ratione earum odio, nulla cumque enim vel
            natus, molestias provident ut consequatur illo optio, veritatis
            inventore eveniet! Nobis, temporibus veritatis blanditiis, cum sint
            similique voluptates iusto qui minus consequuntur, rem dicta est
            laudantium? Repellendus autem reprehenderit voluptas eius corrupti
            dolore, natus iure, aspernatur laboriosam accusamus itaque ut est
            eveniet fugiat mollitia fuga maiores hic nesciunt iusto voluptatibus
            earum? Dolore dolor quasi non voluptatem? Odio, nostrum atque?
          </p>
        </div>
        <div class="flexinner flex3">
          <div class="flexslider">
            <ul class="slides"></ul>
          </div>
        </div>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script
      src="/js/rocket-loader.js
      data-cf-settings="a9285b2494881c5c85ef6098-|49 "
      defer=" "
    ></script>
  </body>
</html>
