<footer>
  <div class="bbt">
    <div class="ct">
      <div class="dv dv2">
        <div class="ttl">SURYA Nestbuild Limited</div>
        <a href="contact-us.html#shoba_offices_2">Offices</a>
        <a href="contact-us.html#shoba_offices_2">Head Office</a>
      </div>
      <div class="dv dv3">
        <div class="ttl">Get In Touch</div>
        <div class="lk1">
          <img
            src="/assets/phone-call.svg "
            class="suv_footer"
            style="width: 20px; height: 20px;"
          />+91-9708258076
        </div>
        <div class="lk2">
          <img
            src="/assets/mail.svg "
            class="suv_footer"
            style="width: 20px; height: 20px;"
          />suryanestbuild@gmail.com
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="bt">
    <div class="ct social-media">
      <div class="lt">
        <div>
          <a href="terms-of-use.html ">Terms of Use</a> |
          <a href="privacy-policy.html ">Privacy Policy</a> |
          <a href="sitemap.html ">Sitemap</a> |
          <span>&copy; Copyright 2020 All rights reserved</span>
        </div>
        <div class="dv">
          <a
            href="https://www.facebook.com/suryanestbuildltd "
            target="_blank "
            class="lk1"
          >
            <i class="fa fa-facebook" aria-hidden="true "></i
          ></a>
          <a
            href="https://twitter.com/comehometosurya "
            target="_blank "
            class="lk2"
            ><i class="fa fa-twitter" aria-hidden="true "></i
          ></a>
          <a href="# " target="_blank " class="lk3"
            ><i class="fa fa-instagram" aria-hidden="true "></i
          ></a>
          <a
            href="https://www.youtube.com/channel/UCaZaoGM7zE1YXia9IFDMewg "
            target="_blank "
            class="lk4"
            ><i class="fa fa-youtube-play" aria-hidden="true "></i
          ></a>
          <a href="# " target="_blank " class="lk5"
            ><i class="fa fa-linkedin" aria-hidden="true "></i
          ></a>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</footer>
