<header>
  <div class="ct">
    <div class="lt desktop_links">
      <a href="/about" rel="wwa">WHO WE ARE</a>
      <a href="#" rel="wwd">WHAT WE DO</a>
      <a href="/contact-us" rel="wwc">CONTACT US</a>
    </div>
    <div class="clear"></div>
    <div class="md log main_logo">
      <a href="/">
        <img class="logo_style" src="/assets/logo_final.png" />
        <img class="minilogo_style" src="/assets/logo_final.png" />
      </a>
    </div>
    <div class="mobile_menu_cl">
      <span><img src=/assets/logo_final.png" /></span>
    </div>
  </div>
</header>
<div class="topmenu">
  <div class="ct">
    <div class="mn mn_wwa">
      <div class="dv">
        <a class="ttl" href="/about">About Us</a>
        <div class="clear"></div>
        <a href="/mission">Our Mission</a>
        <a href="/vision">Our Vision</a>
        <a href="insignia">Insignia</a>
        <a href="/message">Message</a>
      </div>
      <div class="dv">
        <a class="ttl" href="/quality">Responsibility</a>
        <div class="clear"></div>
        <a href="/quality">Quality Policy</a>
        <a href="/corporation">Corporate Social Responsibility</a>
        <a href="/recognition">Recognition</a>
      </div>
      <div class="dv">
        <a class="ttl" href="/journey">Showcase</a>
        <div class="clear"></div>
        <a href="/journey">The Surya Journey</a>

        <a href="/testimonial">Customer Testimonials</a>

        <a href="/award">Awards & Honours</a>
      </div>
      <div class="dv">
        <a class="ttl" href="/associations">Leadership</a>
        <div class="clear"></div>
        <a href="/associations">Our Associations</a>
      </div>

      <div class="clear"></div>
    </div>
    <div class="mn mn_wwd">
      <div class="dv">
        <a class="ttl" href="/patna">Residential</a>
        <div class="clear"></div>
        <a href="/patna">Patna</a>

        <a href="/delhi">Delhi</a>

        <a href="/hajipur">Hajipur</a>
        <a href="/noida">Noida</a>
      </div>
      <div class="dv">
        <a class="ttl" href="/crystal">Commercial</a>
        <div class="clear"></div>
        <a href="/crystal">Surya Crystal</a>
        <a href="/signature">Surya Signature</a>
        <a href="/buisness">Surya Business Centre</a>
      </div>
      <div class="dv">
        <a class="ttl" href="/airport">Contracting</a>
        <div class="/clear"></div>
        <a href="/airport">Patna Airport</a>
        <a href="/portfolio">Portfolio</a>
      </div>
      <div class="dv">
        <a class="ttl" href="/projects">Projects</a>
        <div class="clear"></div>
        <a href="/residential">Residential</a>
        <a href="/commercial">Commercial</a>
      </div>
    </div>
  </div>
</div>
<div class="mobile_bg"></div>
<div class="mobile_menu">
  <div class="mobile_menu_cl">
    <span><img src="/assets/but_menu.png" /></span>
    <div class="clear"></div>
  </div>
  <!--  -->
  <div class="menu mbo_menu23">
    <div class="logo23">
      <div class="md log">
        <a href="/index">
          <div class="mobile_lo_cl">
            <img src="/assets/logo_final.png" />
          </div>
        </a>
      </div>
    </div>
    <ul>
      <br />
      <li class="mobile-nav"><a href="/about">WHO WE ARE</a></li>
      <li class="mobile-subnav"><a href="/about">About Us</a></li>
      <li class="mobile-subnav"><a href="/journey">Showcase</a></li>
      <li class="mobile-subnav"><a href="/quality">Responsibility</a></li>
      <li class="mobile-subnav">
        <a href="/associations">Leadership</a>
      </li>
      <br />
      <li class="mobile-nav"><a href="/patna">WHAT WE DO</a></li>
      <li class="mobile-subnav"><a href="/patna">Residential</a></li>
      <li class="mobile-subnav"><a href="/crystal">Commercial</a></li>
      <li class="mobile-subnav"><a href="/airport">Contracting</a></li>
      <li class="mobile-subnav"><a href="/projects">Projects</a></li>
      <br />
      <li class="mobile-nav"><a href="/contact-us">CONTACT US</a></li>
    </ul>
  </div>
</div>
