<header>
  <div class="ct">
    <div class="lt desktop_links">
      <a href="About Us.html" rel="wwa">WHO WE ARE</a>
      <a href="#" rel="wwd">WHAT WE DO</a>
      <a href="./contact-us.html" rel="wwc">CONTACT US</a>
    </div>
    <div class="clear"></div>
    <div class="md log main_logo">
      <a href="./index.html">
        <img class="logo_style" src="./assets/logo_final.png" />
        <img class="minilogo_style" src="./assets/logo_final.png" />
      </a>
    </div>
    <div class="mobile_menu_cl">
      <span><img src="./assets/logo_final.png" /></span>
    </div>
  </div>
</header>
<div class="topmenu">
  <div class="ct">
    <div class="mn mn_wwa">
      <div class="dv">
        <a class="ttl" href="About Us.html">About Us</a>
        <div class="clear"></div>
        <a href="Mission.html">Our Mission</a>
        <a href="Vision.html">Our Vision</a>
        <a href="Insignia.html">Insignia</a>
        <a href="Message.html">Message</a>
      </div>
      <div class="dv">
        <a class="ttl" href="quality.html">Responsibility</a>
        <div class="clear"></div>
        <a href="quality.html">Quality Policy</a>
        <a href="corporation.html">Corporate Social Responsibility</a>
        <a href="recognition.html">Recognition</a>
      </div>
      <div class="dv">
        <a class="ttl" href="journey.html">Showcase</a>
        <div class="clear"></div>
        <a href="journey.html">The Surya Journey</a>

        <a href="testimonial.html">Customer Testimonials</a>

        <a href="award.html">Awards & Honours</a>
      </div>
      <div class="dv">
        <a class="ttl" href="associations.html">Leadership</a>
        <div class="clear"></div>
        <a href="associations.html">Our Associations</a>
      </div>

      <div class="clear"></div>
    </div>
    <div class="mn mn_wwd">
      <div class="dv">
        <a class="ttl" href="patna.html">Residential</a>
        <div class="clear"></div>
        <a href="patna.html">Patna</a>

        <a href="delhi.html">Delhi</a>

        <a href="hajipur.html">Hajipur</a>
        <a href="Noida.html">Noida</a>
      </div>
      <div class="dv">
        <a class="ttl" href="crystal.html">Commercial</a>
        <div class="clear"></div>
        <a href="crystal.html">Surya Crystal</a>
        <a href="signature.html">Surya Signature</a>
        <a href="buisness.html">Surya Business Centre</a>
      </div>
      <div class="dv">
        <a class="ttl" href="airport.html">Contracting</a>
        <div class="clear"></div>
        <a href="airport.html">Patna Airport</a>
        <a href="portfolio.html">Portfolio</a>
      </div>
      <div class="dv">
        <a class="ttl" href="./Projects.html">Projects</a>
        <div class="clear"></div>
        <a href="./residential.html">Residential</a>
        <a href="./commercial.html">Commercial</a>
      </div>
    </div>
  </div>
</div>
<div class="mobile_bg"></div>
<div class="mobile_menu">
  <div class="mobile_menu_cl">
    <span><img src="./assets/but_menu.png" /></span>
    <div class="clear"></div>
  </div>
  <!--  -->
  <div class="menu mbo_menu23">
    <div class="logo23">
      <div class="md log">
        <a href="index.html">
          <div class="mobile_lo_cl">
            <img src="./assets/logo_final.png" />
          </div>
        </a>
      </div>
    </div>
    <ul>
      <br />
      <li class="mobile-nav"><a href="./About Us.html">WHO WE ARE</a></li>
      <li class="mobile-subnav"><a href="./About Us.html">About Us</a></li>
      <li class="mobile-subnav"><a href="./journey.html">Showcase</a></li>
      <li class="mobile-subnav"><a href="./quality.html">Responsibility</a></li>
      <li class="mobile-subnav">
        <a href="./associations.html">Leadership</a>
      </li>
      <br />
      <li class="mobile-nav"><a href="./patna.html">WHAT WE DO</a></li>
      <li class="mobile-subnav"><a href="./patna.html">Residential</a></li>
      <li class="mobile-subnav"><a href="./crystal.html">Commercial</a></li>
      <li class="mobile-subnav"><a href="./airport.html">Contracting</a></li>
      <li class="mobile-subnav"><a href="./projects.html">Projects</a></li>
      <br />
      <li class="mobile-nav"><a href="./contact-us.html">CONTACT US</a></li>
    </ul>
  </div>
</div>
