<!doctype html>
<html lang="en">

<head>
    <%- include("headsection.ejs") %>
</head>
<body>
    <%- include("header.ejs") %>
    <section class="fs hpbanner hpbanner23">
        <div style="width:100%; height:100%; background:url(/assets/background_final.jpg) no-repeat center center;  background-size:cover;">
        </div>
        <div class="fd"></div>
        <div class="ct">
            <div class="dv1"><img alt="‌ " src="/assets/surya.png"></div>
            <!-- <div class="dv2">‌ </div> -->
            <a href="#scrollto"><span class="material-icons arrow-icon"
                    style="color: #fff;">keyboard_arrow_down</span></a>
        </div>
    </section>
    <div class="homecont ">
        <div class="hp_fea " id="scrollto">
            <div class="flexslider ">
                <ul class="slides ">
                    <li>
                        <a href=" ">
                            <div style="width:100%; height:100%; background:url( '/assets/Carousel_final1.jpg') no-repeat center center; background-size:cover; ">
                                <img src="/assets/Carousel_final1.jpg " alt="Carousel Image 1 " style="opacity:0; " />
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href=" ">
                            <div style="width:100%; height:100%; background:url(/assets/Carousel_final2.jpg) no-repeat center center; background-size:cover; ">
                                <img src="/assets/carousel_final2.jpg " alt="Carousel Image 2 " style="opacity:0; " />
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href=" ">
                            <div style="width:100%; height:100%; background:url( '/assets/Carousel_final3.jpg') no-repeat center center; background-size:cover; ">
                                <img src="/assets/carousel_final3.jpg " alt="Carousel Image 3 " style="opacity:0; " />
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href=" ">
                            <div style="width:100%; height:100%; background:url( '/assets/pic3.jpg') no-repeat center center; background-size:cover; ">
                                <img src="/assets/carousel_final4.jpg ">
                        </a>

                    </li>
                    <li>
                        <a href=" ">
                            <div style="width:100%; height:100%; background:url(/assets/pic3.jpg) no-repeat center center; background-size:cover; ">
                                <img src="/assets/pic3.jpg " alt="BrandXReport " style="opacity:0; " /></div>
                        </a>

                    </li>
                </ul>
                </div>
            </div>
            <div class="ttl ">What Our Customers Say...</div>
            <!-- TESTIMONIALS CAROUSEL -->
            <div class="homecont1 ">
                <div class="hp_fea testi_carousel " id="scrollto" data-interval="500">
                    <div class="flexslider ">
                        <ul class="slides ">
                            <li>
                                <a href=" ">
                                    <div class="testimonial-card" style="width:100%; height:240px; background-color: #f5f5dc;">
                                        <!-- <p style="text-align: center; font-weight: 700; color: #000; padding: 4px 4px 12px 4px;">WHAT OUR CUSTOMERS SAY</p> -->
                                        <div class="customer-testimonial-image">
                                            <img class="customer-testimonial-image" src="/assets/background_placeholder.jpg" alt="">
                                        </div>
                                        <p class="customer-testimonial-quote" style="color: #000; text-align: center;">
                                            "Voluptate tempor incididunt ipsum qui elit enim. In pariatur id elit eu aliqua commodo excepteur cillum cillum excepteur dolore. Amet sit laboris esse non amet deserunt. Mollit est sit dolor aliquip sint enim eu ipsum. Minim eu velit Lorem sunt non ut
                                            sint incididunt nulla. Voluptate duis occaecat ex reprehenderit."</p>
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href=" ">
                                    <div class="testimonial-card" style="width:100%; height:240px; background-color: #f5f5dc;">
                                        <!-- <p style="text-align: center; font-weight: 700; color: #000; padding: 4px 4px 12px 4px;">WHAT OUR CUSTOMERS SAY</p> -->
                                        <div class="customer-testimonial-image">
                                            <img class="customer-testimonial-image" src="/assets/background_placeholder.jpg" alt="">
                                        </div>
                                        <p class="customer-testimonial-quote" style="color: #000; text-align: center;">
                                            "Voluptate tempor incididunt ipsum qui elit enim. In pariatur id elit eu aliqua commodo excepteur cillum cillum excepteur dolore. Amet sit laboris esse non amet deserunt. Mollit est sit dolor aliquip sint enim eu ipsum. Minim eu velit Lorem sunt non ut
                                            sint incididunt nulla. Voluptate duis occaecat ex reprehenderit."</p>
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href=" ">
                                    <div class="testimonial-card" style="width:100%; height:240px; background-color: #f5f5dc;">
                                        <!-- <p style="text-align: center; font-weight: 700; color: #000; padding: 4px 4px 12px 4px;">WHAT OUR CUSTOMERS SAY</p> -->
                                        <div class="customer-testimonial-image">
                                            <img class="customer-testimonial-image" src="/assets/background_placeholder.jpg" alt="">
                                        </div>
                                        <p class="customer-testimonial-quote" style="color: #000; text-align: center;">
                                            "Voluptate tempor incididunt ipsum qui elit enim. In pariatur id elit eu aliqua commodo excepteur cillum cillum excepteur dolore. Amet sit laboris esse non amet deserunt. Mollit est sit dolor aliquip sint enim eu ipsum. Minim eu velit Lorem sunt non ut
                                            sint incididunt nulla. Voluptate duis occaecat ex reprehenderit."</p>
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href=" ">
                                    <div class="testimonial-card" style="width:100%; height:240px; background-color: #f5f5dc;">
                                        <!-- <p style="text-align: center; font-weight: 700; color: #000; padding: 4px 4px 12px 4px;">WHAT OUR CUSTOMERS SAY</p> -->
                                        <div class="customer-testimonial-image">
                                            <img class="customer-testimonial-image" src="/assets/background_placeholder.jpg" alt="">
                                        </div>
                                        <p class="customer-testimonial-quote" style="color: #000; text-align: center;">
                                            "Voluptate tempor incididunt ipsum qui elit enim. In pariatur id elit eu aliqua commodo excepteur cillum cillum excepteur dolore. Amet sit laboris esse non amet deserunt. Mollit est sit dolor aliquip sint enim eu ipsum. Minim eu velit Lorem sunt non ut
                                            sint incididunt nulla. Voluptate duis occaecat ex reprehenderit."</p>
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href=" ">
                                    <div class="testimonial-card" style="width:100%; height:240px; background-color: #f5f5dc;">
                                        <!-- <p style="text-align: center; font-weight: 700; color: #000; padding: 4px 4px 12px 4px;">WHAT OUR CUSTOMERS SAY</p> -->
                                        <div class="customer-testimonial-image">
                                            <img class="customer-testimonial-image" src="/assets/background_placeholder.jpg" alt="">
                                        </div>
                                        <p class="customer-testimonial-quote" style="color: #000; text-align: center;">
                                            "Voluptate tempor incididunt ipsum qui elit enim. In pariatur id elit eu aliqua commodo excepteur cillum cillum excepteur dolore. Amet sit laboris esse non amet deserunt. Mollit est sit dolor aliquip sint enim eu ipsum. Minim eu velit Lorem sunt non ut
                                            sint incididunt nulla. Voluptate duis occaecat ex reprehenderit."</p>
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="clear "></div> -->
                <div class="spreadApart " style="width:100%; height: 50px;"></div>
                <hr style="width: 60%; height: 2px;">
                <div class="ttl ">Locations</div>
                <div class="hp_loc ">
                    <div class="dvleft ">
                        <div class="lt ">
                            <a href="/patna" class="bx ">
                                <div class="pd ">
                                    <div class="dv ">
                                        <div class="bg-zoom " style="background:url(/assets/background_placeholder.jpg) no-repeat center center; background-size:cover; ">
                                        </div>
                                        <div class="bg "></div>
                                        <div class="tx1 ">Patna</div>
                                        <div class="tx2 foo ">Explore</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lt ">
                            <a href="/delhi" class="bx ">
                                <div class="pd ">
                                    <div class="dv ">
                                        <div class="bg-zoom " style="background:url(/assets/aboutus.jpg) no-repeat center center; background-size:cover; ">
                                        </div>
                                        <div class="bg "></div>
                                        <div class="tx1 ">Delhi</div>
                                        <div class="tx2 foo ">Explore</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="clear "></div>
                    </div>
                    <div class="dvright ">
                        <div class="lt ">
                            <a href="/noida" class="bx ">
                                <div class="pd ">
                                    <div class="dv ">
                                        <div class="bg-zoom " style="background:url(/assets/background_final.jpg) no-repeat center center; background-size:cover; ">
                                        </div>
                                        <div class="bg "></div>
                                        <div class="tx1 ">Noida</div>
                                        <div class="tx2 foo ">Explore</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lt ">
                            <a href="./hajipur.html" class="bx ">
                                <div class="pd ">
                                    <div class="dv ">
                                        <div class="bg-zoom " style="background:url(/assets/pic5.jpg) no-repeat center center; background-size:cover; ">
                                        </div>
                                        <div class="bg "></div>
                                        <div class="tx1 ">Hajipur</div>
                                        <div class="tx2 foo ">Explore</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- <div class="clear "></div> -->
                        <div class="spreadApart " style="width:100%; height: 50px;"></div>
                    </div>
                    <!-- <div class="clear "></div> -->
                </div>
                <br>
                <br>
                <div class="clear "></div>
                <div class="spreadApart " style="width:100%; height: 50px;"></div>
                <hr>
                <div class="clear "></div>
            </div>
            <div class="ttl " style="text-align: center; padding: 50px 0; font-weight: 700; font-size: 26px !important;">
                WHAT WE DO</div>
            <style>
                .tttl {
                    text-align: center;
                    /* padding-bottom: 2%; */
                }
            </style>
            <div class="hp_wwd ">
                <div class="tp ">
                    <a href="residential.html" class="bx ">
                        <div class="pd ">
                            <div class="dv " style="background: url(/assets/background_placeholder.jpg) center top no-repeat; background-size: cover; ">
                                <div class="bg "></div>
                                <div class="tx1 ">Residential</div>
                                <div class="tx2 ">Explore</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clear "></div>
                <div class="hp_loc ">
                    <div class="dvleft ">
                        <div class="lt ">
                            <a href="commercial.html" class="bx ">
                                <div class="pd ">
                                    <div class="dv ">
                                        <div class="bg-zoom " style="background:url(/assets/background_final.jpg) no-repeat center center; background-size:cover; ">
                                        </div>
                                        <div class="bg "></div>
                                        <div class="tx1 ">Commercial</div>
                                        <div class="tx2 foo ">Explore</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="lt ">
                            <a href="airport.html" class="bx ">
                                <div class="pd ">
                                    <div class="dv ">
                                        <div class="bg-zoom " style="background:url(/assets/background_placeholder.jpg) no-repeat center center; background-size:cover; ">
                                        </div>
                                        <div class="bg "></div>
                                        <div class="tx1 ">Contracting</div>
                                        <div class="tx2 foo ">Explore</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- <div class="spreadApart " style="width:100%; height: 540px;"></div> -->
                        <div class="clear "></div>

                    </div>
                </div>
            </div>

        </div>
        <%- include("footer.ejs") %>
        <script data-cfasync="false" src="/js/email.decode.min.js"></script>
    <script src="/js/rocket-loader.js " data-cf-settings="52d12235894eb3d18bc8632e-|49 " defer=" "></script>
</body>

</html>
