<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include("headsection.ejs") %>
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="fs_inner">
      <div class="pc">
        <div
          style="
            width: 100%;
            height: 100%;
            background: url(/assets/insignia.jpg) no-repeat center center;
            background-size: cover;
          "
        ></div>
      </div>
      <div class="fd"></div>
      <div class="tx">Philosophy</div>
    </section>
    <section class="innercont pg_philosophy">
      <div class="ct">
        <div class="nav">
          <div class="select-wrapper">
            <select
              class="navdd"
              onchange="if (!window.__cfRLUnblockHandlers) return false; window.location.replace(this.options[this.selectedIndex].value) "
              data-cf-modified-06b43f84d6f07fea28a654a3-=" "
            >
              <option value="/about">About Us</option>
              <option value="/mission">Our Mission</option>
              <option value="/vision ">Our Vision</option>
              <option selected="selected " value="/insignia">Insignia</option>
              <option value="/message">Message</option>
            </select>
          </div>
          <div class="lks">
            <a href="/about">About Us</a>
            <a href="/mission">Our Mission</a>
            <a href="/vision">Our Vision</a>
            <a class="active nobg" href="/insignia">Insignia</a>
            <a href="/message">Message</a>
          </div>
        </div>
        <div class="ttl_cap">Insignia</div>
        <div class="bdtext ctsmall">
          <p>
            Our brand is our ideology, our beliefs and our promise. It is the
            guiding force which governs us and motivates us every second to
            perform even better than the previous day. Our company`s brand
            expresses and implies what our customers, shareholders, society and
            other partners can expect from us. We denote with our logo:
            combining three colors with blue, green, and white. Blue color
            signifies trust, honesty and loyalty. We are very much sincere in
            all our approach right from the conceptualization of an idea to its
            execution.The Group in true sense is dedicated and devoted to
            provide excellent real estate services and carve out a niche in the
            market, giving room to all its competitors equal respect and an
            opportunity to work hard & grow. We believe in building strong
            trusting relationships . Blue represents communication, peace,
            stability, honesty & depth. Green is the colour of nature,
            fertility; life. Green is the colour of balance. It also means
            learning, growth and harmony.Green is considered the color of peace
            and ecology. Green also represents tranquility, good luck, health.
            We at SURYA Nestbuild Ltd promise life in form of th e services we
            render. We are sincerely contributing our share in preserving the
            ecological balance of the environment with all the possible ways
            like focusing on green design, utilizing almost half of the land
            space as green area in most of our projects. The color green
            symbolizes growth & desire to expand in the same ways we focus on
            all round developments & growth, modern living, restoring us back to
            a sense of well being. White is the color of purity, kindness,
            innocence, wholeness, and Cleanliness offering a sense of peace and
            calm, comfort and hope. New beginnings, Equality and unity. SURYA
            Nestbuild Ltd forms all these traits and performs in all its
            transactions the purity & kindness in its activities.SNL brings
            hopes in all our actions and people who we are associated with. We
            lay the foundation of a new beginning with a pure & a kind heart in
            whatever we do. As company we treat everyone equal and follow the
            principle of unity as a whole. People who have been associated with
            us in the past are still with us today and we share the same
            bonding, respect, love and togetherness as it used to be on the very
            first day. SNL sign represents smart, effective & efficient
            solutions for our customers as a strong, dependable & trustworthy
            partner for their real estate requirements with a complete package.
            The logo itself is symbolic to the company`s spirit. The company
            takes care and maintains the logo spirits in all of its activities
            starting from beginning till the end. Our slogan "Exceeding Your
            Expectation " stands for our promise to be a reliable partner and
            help build a successful future with innovative, effective &
            efficient design and constructions.
          </p>
        </div>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script
      src="/js/rocket-loader.js
      data-cf-settings="06b43f84d6f07fea28a654a3-|49 "
      defer=" "
    ></script>
  </body>
</html>
