<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include("headsection.ejs") %>
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="fs_inner">
      <div class="pc">
        <div
          style="
            width: 100%;
            height: 100%;
            background: url(assets/awards.jpg) no-repeat center center;
            background-size: cover;
          "
        ></div>
      </div>
      <div class="fd"></div>
      <div class="tx">Passion at Work</div>
    </section>

    <section class="innercont pg_media_contact">
      <div class="ct">
        <div class="ttl_cap">Media Contact</div>
        <div class="desc"></div>
        <div class="cnt">
          <div class="tx1">Mr. B.K. Choudhary</div>
          <div class="tx2">
            Managing Director<br />
            SURYA Nestbuild Limited<br />
            +91-9708258076<br />
            suryanestbuild@gmail.com
          </div>
        </div>
      </div>
      <div class="ct"></div>
      <div class="address-div">
        <div class="ct">
          <div id="shoba_offices_1" class="offi">
            <div class="address-box">
              <div class="address-box">
                <h4>Head Office</h4>
                <ul>
                  <li>
                    <p>
                      <!-- <span>Head Office</span><br> -->
                      <!-- <b>SURYA</b> -->
                      <br />
                      Surya Signature Building<br />
                      Beside Hira Sweet Lane,<br />
                      West Boring Canal Road,<br />
                      Patna, Bihar, India.<br />
                      <span>Tel</span>: +91-612-2557912, +91-612-2557913<br />
                      <span>E-mail</span>: suryanestbuild@gmail.com<br />
                      <span>Website</span>:
                      <a href="index.html">www.suryanestbuildltd.com</a><br />
                    </p>
                  </li>
                </ul>
              </div>

              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script
      src="/js/rocket-loader.js
      data-cf-settings="a9285b2494881c5c85ef6098-|49 "
      defer=" "
    ></script>
  </body>
</html>
