<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include("headsection.ejs") %>
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="fs_inner">
      <div class="pc">
        <div
          style="
            width: 100%;
            height: 100%;
            background: url(/assets/message.jpg) no-repeat center center;
            background-size: cover;
          "
        ></div>
      </div>
      <div class="fd"></div>
      <div class="tx">Philosophy</div>
    </section>
    <section class="innercont pg_philosophy">
      <div class="ct">
        <div class="nav">
          <div class="select-wrapper">
            <select
              class="navdd"
              onchange="if (!window.__cfRLUnblockHandlers) return false; window.location.replace(this.options[this.selectedIndex].value) "
              data-cf-modified-06b43f84d6f07fea28a654a3-=" "
            >
              <option value="About Us.html ">About Us</option>
              <option value="Mission.html ">Our Mission</option>
              <option value="Vision.html ">Our Vission</option>
              <option value="Insignia.html ">Insignia</option>
              <option selected="selected " value="Message.html "
                >Message</option
              >
            </select>
          </div>
          <div class="lks">
            <a href="About Us.html ">About Us</a>
            <a href="Mission.html ">Our Mission</a>
            <a href="Vision.html ">Our Vision</a>
            <a href="Insignia.html ">Insignia</a>
            <a class="active nobg" href="Message.html ">Message</a>
          </div>
        </div>
        <div class="ttl_cap">Message</div>
        <div class="bdtext ctsmall">
          <p>
            Hello, We welcome you to our website!! The world is developing at a
            very fast pace and communication has become the key to any
            successful enterprise. It is one of the most important medium to
            keep in touch, understand, learn and perform. It gives us an immense
            pleasure to reach you through this page. We thank you for your time
            & consideration and look forward to a great relationship together.
            SURYA Nestbuild Ltd has been our baby since last two decades and it
            will not be wrong to say that the love for this baby has emerged
            stronger and stronger as each days passes by. We started our journey
            together in the year 1993, and since then we have not looked back.
            We have stepped beyond our magnificent and spontaneous 21 years of
            service with utmost sincerity, honesty and dedication. From the
            start, our vision was not only to make profit but also to make the
            real estate industry dependable and trustworthy. That`s why we have
            made our corporate slogan, 'Exceeding Your Expectation'. We have
            proved this slogan in reality by designing, completing & handing
            over all of our projects much ahead of time while following the
            utmost high quality process & materials. SURYA Group feels proud to
            have won many hearts and boasts a long lasting relationship with all
            its customers. It is a great feeling to know that people from all
            walks of life have appreciated & trusted our honesty, integrity
            loyalty, and services. We thank all of them from the core of our
            heart & promise to take it to the next level with utmost care and
            add more value to it by continuously striving hard & keeping up with
            everybody's expectation. We have been consistently turning dreams
            into realties through our sincere efforts and have not limited
            ourselves only in buying & selling business. We have a different
            approach to the business we do, with different thinking and
            different ways to see the world. Yes, we are unique and stand apart
            in many ways, because we think selling is not the only part of
            business. The most important part is working hard with a passion.
            The thumb rule says, it is the passion which drives your business
            volumes creating wealth and setting you apart from your competitors.
            If you are not doing it this way then sooner you will be driven out
            of any business. Creating a value to the business, educating the
            clients, listening patiently, and encouraging growth as we follow
            the right business mix to excel. We have always encouraged a better
            living environment , while protecting the natural flora & fauna.
            Accepting our faults, and learning from them does not make us weak
            but motivates us towards a more meaningful and a sensible human
            being. New experiences, new thinking, new opportunities to grow,
            learn and succeed are a part of our working relationship. We
            continue to learn, unlearn & re-learn because we believe learning is
            fun and a never ending process. We live the perfect work life
            balance here and working here is much more fun than fun itself.
            That's why life at SURYA is always bliss. Being in the business of
            real estate it is not an easy task with markets fluctuating most of
            the times, but remaining calm, composed and unruffled and belief in
            ourselves and our hard work has always helped us. Constructing the
            dream homes of people, and marketing international quality homes is
            our forte. Our goal is to achieve the highest level of customer
            delight. We are working hard towards a greener living .Today the
            biggest opportunity lies in taking a strong position in support of
            environmental sustainability. Recent studies have shown that
            buildings account for as much as 40 percent of the earth's
            greenhouse gas emissions, which are believed to contribute to
            climate change. We are including newer and more advanced ways of
            energy efficient designs and green building policies, process &
            procedures making a significant impact on improving energy
            efficiency, reducing greenhouse gas emissions and slowing climate
            change. We can contribute to the growing battle against climate
            change. Our philosophy & our value based beliefs is our success
            mantra .It is the guiding force towards a better tomorrow. We credit
            our success to the strong foundation of the business module which is
            supported by a corporate culture that encourages equality, respect
            for everybody, teamwork, willingness to learn, innovative thinking
            and a passion to excel and promote services of highest quality. The
            high performance & smart delivery is the result of high ethical
            values, transparency, honesty and a strong urge for value based
            business in all our actions. We undertake to bring on modern and
            advanced ways of working and leveraging business. We have
            continuously emphasized on recruiting and retaining the best
            personnel, maintaining a responsible management structure and a
            solid capital base by which we effectively manage the risk in our
            business. The rendezvous of the interests of employees, shareholders
            and investors has also been of great importance. At the same time,
            we strive to attain our goals while earning respect from our
            customers, vendors, stakeholders, associates and all our
            competitors. We truly believe that these factors have built our
            success and will prolong to do so in the future. Last but not the
            least, we thank God for everything. We thank him for the chances we
            took and the shots we missed to get something more meaningful worth
            appreciating. We consider ourselves fortunate, to have got an
            opportunity to make the dreams of so many people come true with
            their own homes. Seeing them happy, smiling and contended motivates
            us and encourages us for more and more. We are ready and geared up
            to take on more responsibilities and increase the smile on
            everyone's faces. Come; let's be a part of this journey together. Be
            a part of SURYA family and experience the 'joy of living' All the
            Best!! Keep Smiling. Warm Regards Board of Directors
          </p>
        </div>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script
      src="/js/rocket-loader.js "
      data-cf-settings="06b43f84d6f07fea28a654a3-|49 "
      defer=" "
    ></script>
  </body>
</html>
