<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include("headsection.ejs") %>
  </head>
  <body>
    <%- include("header.ejs") %>
    <section class="fs_inner">
      <div class="pc">
        <div
          style="
            width: 100%;
            height: 100%;
            background: url(/assets/portfolio.jpg) no-repeat center center;
            background-size: cover;
          "
        ></div>
      </div>
      <div class="fd"></div>
      <div class="tx">About Us</div>
    </section>
    <section class="innercont pg_philosophy">
      <div class="ct">
        <div class="nav">
          <div class="select-wrapper">
            <select
              class="navdd"
              onchange="if (!window.__cfRLUnblockHandlers) return false; window.location.replace(this.options[this.selectedIndex].value) "
              data-cf-modified-06b43f84d6f07fea28a654a3-=" "
            >
              <option value="airport.html ">Patna Airport</option>
              <option selected="selected " value="portfolio.html "
                >Our Mission</option
              >
            </select>
          </div>
          <div class="lks">
            <a href="airport.html ">Patna Airport</a>
            <a class="active nobg" href="portfolio.html ">Portfolio</a>
          </div>
        </div>
        <div class="ttl_cap">Portfolio</div>
        <div class="bdtext ctsmall">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
            reiciendis incidunt nam distinctio perferendis laboriosam fugit
            eveniet, a quos eius blanditiis rem suscipit, alias deserunt
            repudiandae saepe tempore quae optio.
          </p>
          <p>
            The group has created a niche in the real estate industry as an
            experienced and most preferred real estate group by completing many
            residential & commercial projects of high value in Delhi/NCR & Patna
            with the highest customer satisfaction index. The groups consist of
            smart, dynamic professionals having rich experience in real estate
            industry. We value our customers and therefore for us Customers
            always comes first.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            optio et nulla, tempore, maiores voluptate fugit error
            exercitationem provident voluptatem eveniet itaque voluptates quidem
            quod. Omnis eum doloremque reiciendis. Dicta?
          </p>
        </div>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script
      src="/js/rocket-loader.js "
      data-cf-settings="06b43f84d6f07fea28a654a3-|49 "
      defer=" "
    ></script>
  </body>
</html>
